.header {
    position: sticky;
    background-color: #FFFFFF;
    margin-top: 34px;
    margin-bottom: 34px;
    
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 169px;
        padding-right: 165px;
    }
    
    &__wrapper{
        display: flex;
        align-items:center ;
    }
    
    
    
    
    &__list {
        display: flex;
        align-items: center;
        
    }
    
    &__item {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        margin-left: 32px;
    }
    
    &__link {
        color: #939CAA;
        
        &:hover{
            color: #FCB72B;
        }
    }
    
    &__button {
        border: none;
        padding: 14px 39px;
        color: #FFFFFF;
        background: #FCB72B;
        border: 3px solid #FCB72B;
        box-sizing: border-box;
        
        &:hover{
            color: #FCB72B;
            background: #FFFFFF;
            border: 3px solid #FCB72B;
        }
    }
    
    &__btn{
        display: none;
        background: none;
        border: none;
    }
    
    &__on {
    }
    
    &__off {
        display: none;
    }
}


@media only screen and(max-width:900px) {
    .header{
        &__container{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}


@media only screen and( max-width:720px) {
    .header {
        position: relative;
        &__container {
            padding-left: 22px;
            padding-right: 22px;
           
            
        }
        
        &__btn {
            display: block;
        }
        
        &__img{
            transform: translateX(-50%);
        }
        
        
        &__nav {
            position: absolute;
            background-color: #333A44;;
            top: 100%;
            left: 0;
            width: 70%;
            height: 110vh;
            display: none;
            z-index: 999;
        }
        
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
        
        &__item {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        
        
        
        &__button {
            position: absolute;
            flex-direction: column;
            transform: translate(34px,350px);
            top: 100%;
            left: 0;
            display: none;
            
        }
        
    }
    
    .header--open .header{
        
        
        &__on {
            display: none;
        }
        
        &__off {
            display: block;
        }
        
        &__nav {
            display: block;
        }
    }
}



